* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--outfit);
}

:root {
    --outfit: 'Outfit';
    --darkgrey: #475569;
    --lightblue: #0f79f3;
    --lightgrey: #919aa3;
    --offwhite: #f4f6fc;
    --purple: #796df6;
    --dangerColor: #e74c3c;
    --infoColor: #00cae3;
    --warningColor: #ffb264;
    --successColor: #2ed47e;
    --whiteColor: #ffffff;
    --transition: .5s;
    --borderBoxShadow: rgba(0, 0, 0, .05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
}

body {
    background-color: #eff3f9;
}

.container {
    width: 100%;
    margin: auto;
    padding: 10px 10px;
}

/* Decoration */
.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.yellow {
    border: 2px solid yellow;
}

.pink {
    border: 2px solid pink;
}

.blue {
    border: 2px solid blue;
}

/* text decoration */
a {
    text-decoration: none;
}

/* Width */
.w-3 {
    width: 3%;
    padding: 0px 10px;
}

.w-4 {
    width: 4%;
    padding: 0px 10px;
}

.w-5 {
    width: 5%;
    padding: 0px 10px;
}

.w-10 {
    /* border: 2px solid green; */
    width: 10%;
    padding: 0px 10px;
}

.w-15 {
    width: 15%;
    padding: 0px 10px;
}

.w-16 {
    width: 16%;
    padding: 0px 10px;
}

.w-17 {
    width: 17%;
    padding: 0px 10px;
}

.w-18 {
    width: 18%;
    padding: 0px 10px;
}

.w-19 {
    width: 19%;
    padding: 0px 10px;
}

.w-20 {
    width: 20%;
    padding: 0px 10px;
}

.w-25 {
    width: 25%;
    padding: 0px 10px;
}

.w-30 {
    width: 30%;
    padding: 0px 10px;
}

.w-31 {
    width: 31%;
    padding: 0px 10px;
}

.w-32 {
    width: 32%;
    padding: 0px 10px;
}

.w-33 {
    width: 33%;
    padding: 0px 10px;
}

.w-35 {
    width: 35%;
    padding: 0px 10px;
}

.w-40 {
    /* border: 2px solid blue; */
    width: 40%;
    padding: 0px 10px;
}

.w-45 {
    width: 45%;
    padding: 0px 10px;
}

.w-50 {
    width: 50%;
    padding: 0px 10px;
}

.w-55 {
    width: 55%;
    padding: 0px 10px;
}

.w-60 {
    width: 60%;
    padding: 0px 10px;
}

.w-65 {
    width: 65%;
    padding: 0px 10px;
}

.w-70 {
    width: 70%;
    padding: 0px 10px;
}

.w-75 {
    width: 75%;
    padding: 0px 10px;
}

.w-80 {
    width: 80%;
    padding: 0px 10px;
}

.w-83 {
    width: 83%;
    padding: 0px 10px;
}

.w-85 {
    width: 85%;
    padding: 0px 10px;
}

.w-90 {
    width: 90%;
    padding: 0px 10px;
}

.w-95 {
    width: 95%;
    padding: 0px 10px;
}

.w-100 {
    width: 100%;
    /* padding: 0px 10px; */
}

.mx-auto {
    margin: auto;
}

/* padding */
.py-0 {
    padding: 0px;
}

.pyb-0 {
    padding-bottom: 0px;
}

.py-10 {
    padding: 10px 0px;
}

.py-15 {
    padding: 15px 0px;
}

.py-100 {
    padding: 100px 0px;
}

.pyt-100 {
    padding-top: 100px;
}

.pyb-100 {
    padding-bottom: 100px;
}

.pylr-10 {
    padding: 0px 10px;
}

.pyr-25 {
    padding: 0px 25px 0px 0px;
}

/* alignment */
.row {
    display: flex;
    flex-wrap: wrap;
}

.mx-auto {
    margin: auto;
}

.slider-menu {
    margin-bottom: 27px;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.content-center {
    align-content: center;
}

.align-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

/* Others */
.icon-2 {
    margin-right: 10px;
}

/* header */

.logo-icon {
    width: 40px;
    margin-right: 10px;
}

.logo {
    padding: 25px 15px;
    margin-bottom: 18px;
    background-color: white;
    position: sticky;
    top: 0;
}

h1 {
    font-family: var(--outfit);
    color: var(--darkgrey);
    font-weight: 600;
    font-size: 24px;
    align-content: center;
}

header {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: white;
}

header::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

header::-webkit-scrollbar-thumb {
    background-color: var(--lightgrey);
    border-radius: 15px;
}

.navigation {
    padding: 0px 15px;
}

.fa-bars {

    color: var(--darkgrey);
}


.title {
    color: var(--lightgrey);
    text-transform: uppercase;
    margin-bottom: 19px;
}

.title h3 {
    font-weight: 400;
    font-size: 14px;
}

.dash {
    fill: var(--lightgrey);
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
    width: 20px;
}

.list:hover .icon {
    stroke: var(--lightblue);
}

.topic {
    transition: all 0.5s;
    stroke: var(--darkgrey);
    color: var(--darkgrey);
    margin-bottom: 19px;
}

.topic:hover {
    color: var(--lightblue);
    stroke: var(--lightblue);
    fill: var(--lightblue);
}

.more-1 {
    width: 17px;
    height: 17px;
    background-color: #757fef1a;
    border-radius: 100%;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
    font-size: 11px;
    align-content: center;
    color: var(--lightblue);
}

.more-2 {
    width: 17px;
    height: 17px;
    background-color: #757fef1a;
    border-radius: 100%;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
    align-content: center;
    font-size: 11px;
    color: #00b69b;
}

.more-3 {
    width: 17px;
    height: 17px;
    background-color: #757fef1a;
    border-radius: 100%;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
    align-content: center;
    font-size: 11px;
    color: #ee368c;
}

/* search bar */
.search-bar {
    padding: 12px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    margin: 10px 0px 25px 0px;
}

.search {
    width: 25%;
    padding: 1px 15px 1px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: var(--offwhite);
}

.search-icon {
    color: var(--darkgrey);
}

.search-box {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 10px;
    color: var(--lightgrey);
}

.more-options {
    width: 25%;
    display: flex;
    align-items: center;
    color: var(--darkgrey);
    font-weight: 600;
    justify-content: space-between;
}

.online {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.admin {
    height: 40px;
    width: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    z-index: 2;
    bottom: 2%;
    right: 30%;
    position: absolute;
    border: 2px solid white;
    border-radius: 100%;
    background-color: green;
}

.down-arrow {
    margin-left: 7px;
}

.left-side {
    width: 50%;
    padding-right: 10px;
}

.dashboard {
    margin-bottom: 25px;
}

.total-sales {
    padding: 20px;
    color: var(--darkgrey);
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;

}

.total-sales span:nth-child(1) h4 {
    font-size: 18px;
    font-weight: 500;
}

.total-sales span:nth-child(2) h5 {
    font-size: 15px;
    font-weight: 400;
}

.total-sales .fa-angle-down {
    color: var(--lightblue);
}

.total-sales .graph {
    padding: 8px 10px;
}

.chart {
    font-size: 14px;
    font-weight: 400;
    color: var(--lightgrey);
}

.total-sales .orders .fa-circle {
    color: var(--purple);
}

.total-sales .sales .fa-circle {
    color: var(--infoColor);
}

.total-revenue {
    padding: 20px;
    color: var(--darkgrey);
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;
}

.total-revenue h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.total-revenue .amount {
    font-size: 26px;
    font-weight: 500;
}

.total-revenue .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.total-revenue .bottom p {
    color: var(--lightgrey);
    font-size: 14px;
}

.total-revenue .purchase {
    background-color: var(--lightblue);
}

.coin {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: var(--warningColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin h1 {
    font-size: 40px;
    color: var(--whiteColor);
}

.total-revenue .bottom {
    width: 100%;
    margin-top: 23px;
}



.loss {
    width: 62px;
    height: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    font-size: 14px;
    border: 1px solid var(--dangerColor);
    color: var(--dangerColor);
    background-color: #e74c3c1a;
}

.profit {
    padding: 20px;
    color: var(--darkgrey);
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;
}

.profit span:nth-child(1) h4 {
    font-size: 18px;
    font-weight: 500;
}

.profit span:nth-child(2) h5 {
    font-size: 15px;
    font-weight: 400;
}

.profit .fa-angle-down {
    color: var(--lightblue);
}

.chart {
    font-size: 14px;
    font-weight: 400;
    color: var(--lightgrey);
}

.right-side {
    width: 50%;
    padding-left: 10px;
}

.profit .top {
    margin-bottom: 20px;
}

.profit .amount {
    font-size: 26px;
    font-weight: 500;
}

.profit .bottom {
    padding: 15px;
    margin-bottom: 5px;
}

.best-seller {
    background-color: #ddddef;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    font-family: var(--outfit);
}

.best-seller h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.best-seller .w-50 {
    padding: 0;
}

.best-seller-content .row {
    height: 180px;
    align-content: space-between;
    font-weight: 500;
}

.best-seller-content h5 {
    /* height: 200px; */
    font-size: 18px;
    color: var(--purple);
}

.best-seller-content p {
    font-size: 25px;
    color: var(--darkgrey);
}

.best-seller-content p span {
    font-size: 16px;
    color: var(--lightgrey);
}

.best-seller-content h6 {
    color: var(--darkgrey);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}

.best-seller-image img {
    width: 180px;
    height: 200px;
    transform: translateY(4px);
}

.total-orders {
    padding: 20px;
    color: var(--darkgrey);
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;
}

.total-orders .left h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.total-orders .left .amount {
    font-size: 26px;
    font-weight: 500;
}

.total-orders .bottom {
    margin-top: 23px;
}

.total-orders .bottom span {
    font-size: 14px;
    color: var(--lightgrey);
}

.total-orders .bottom .grow {
    color: var(--successColor);
}

.grow {
    width: 62px;
    height: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    font-size: 14px;
    border: 1px solid var(--successColor);
    color: var(--successColor);
    background-color: #2ed47e1a;
}

.purchase {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase .bi-bag-heart {
    color: var(--offwhite);
    font-size: 38px;
}

.total-customers {
    padding: 20px;
    color: var(--darkgrey);
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;
}

.total-customers .left h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.total-customers .customers {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: var(--infoColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-customers .customers svg {
    fill: var(--offwhite);
}

.total-customers .amount {
    font-size: 26px;
    font-weight: 500;
}

.total-customers .bottom {
    margin-top: 23px;
}

.graph {
    padding: 15px;
}

.sales-overview {
    border: none;
    background-color: var(--purple);
    border-radius: 15px;
    color: var(--offwhite);
    padding: 20px;
    margin-bottom: 25px;
}

.sales-overview h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.sales-overview h6 {
    font-size: 14px;
    font-weight: 500;
}

.sales-overview .amount {
    font-size: 20px;
    font-weight: 500;
}

.sales-overview .sales {
    margin-bottom: 13px;
}

.overview {
    width: 100%;
    height: 2px;
    background-color: #6258cc;
    position: relative;
    margin-bottom: 6px;
}

.overview::before {
    content: "";
    width: 70%;
    height: 2px;
    background-color: var(--offwhite);
    position: absolute;
}

.Average-Daily-Sales {
    border: none;
    background-color: var(--whiteColor);
    border-radius: 15px;
    color: var(--darkgrey);
    padding: 20px;
    margin-bottom: 25px;
}

.Average-Daily-Sales h4 {
    font-size: 18px;
    font-weight: 500;
}

.Average-Daily-Sales .top div {
    align-content: center;
    margin-bottom: 12px;
}

.Average-Daily-Sales .top .amount {
    font-size: 26px;
    font-weight: 500;
}

.Average-Daily-Sales .bottom {
    padding: 12px 12px 11px 12px;
}

.new-customers {
    border: none;
    background-color: var(--whiteColor);
    border-radius: 15px;
    color: var(--darkgrey);
    padding: 20px;
    margin-bottom: 1 5px;
}

.new-customers h4 {
    font-size: 18px;
    font-weight: 500;
}

.new-customers .top {
    margin-bottom: 16px;
}

.new-customers .amount {
    font-size: 26px;
    font-weight: 500;
}

.new-customers .bottom span {
    color: var(--lightgrey);
}

.new-customers .bottom {
    margin-top: 63px;
}

.new-customers .bottom .images {
    margin-top: 10px;

}

.new-customers .bottom .images img {
    height: 52px;
    width: 52px;
    align-content: center;
}

.images .img-1 img {
    border: 3px solid white;
    border-radius: 100%;
}

.images .img-2 img {
    border: 3px solid white;
    border-radius: 100%;
    transform: translateX(-20px);
}

.images .img-3 img {
    border: 3px solid white;
    border-radius: 100%;
    transform: translateX(-40px);
}

.images .img-4 img {
    border: 3px solid white;
    border-radius: 100%;
    transform: translateX(-60px);
}

.images .img-5 img {
    border: 3px solid white;
    border-radius: 100%;
    transform: translateX(-80px);
}

.images .plus-img {
    height: 52px;
    width: 52px;
    border: 3px solid white;
    border-radius: 100%;
    transform: translateX(-100px);
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.images .plus-img span {
    color: var(--offwhite);
    font-size: 16px;
}


.top-selling {
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.top-selling .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.top-selling .top h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.top-selling .top .down-arrow {
    color: var(--lightblue);
}

.selling-products {
    padding: 20px 0px;
}

.product-list {
    border-bottom: 1px dashed var(--lightgrey);
    padding: 15px 0px;

}

.product-list .numbers {
    font-weight: 300;
    color: #919aa3;
    font-size: 16px;
}

.text-end {
    text-align: end;
}

.product-list .img {
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.product-list .details h6 {
    font-weight: 400;
    font-size: 18px;
    color: var(--darkgrey);
    margin-bottom: 5px;
}

.product-list .details p {
    font-weight: 500;
    font-size: 14px;
    color: var(--lightgrey);
}

.top-selling .bottom .right .box {
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.top-selling .bottom .right .box-1 {
    margin-right: 5px;
    margin-left: 8px;
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.top-selling .bottom {
    color: var(--lightgrey);
}

.top-selling .bottom .left .sort-down {
    margin-bottom: 8px;
}

.sales-profit {
    margin-bottom: 25px;
}

.order-summary {
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.order-summary .top {
    margin-bottom: 20px;
}

.order-summary .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.order-summary .top h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.order-summary .top .down-arrow {
    color: var(--lightblue);
}

.order-summary .orders-detail p {
    font-size: 15px;
    color: var(--darkgrey);
    margin-bottom: 10px;
}

.order-summary .graph {
    display: flex;
    justify-content: center;
}

.order-summary .graph img {
    height: 374px;
    width: auto;
    padding: 15px;
}

.order-summary .bottom {
    margin-bottom: 22px;
    /* padding: 10px; */
}

.order-summary .bottom p {
    font-size: 14px;
    color: var(--lightgrey);
}

.order-summary .bottom .orders-completed .fa-circle {
    color: var(--infoColor);
}

.order-summary .bottom .new-orders .fa-circle {
    color: var(--lightblue);
}

.order-summary .bottom .orders-pending .fa-circle {
    color: var(--purple);
}

.top-sellers {
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.top-sellers .top {
    margin-bottom: 20px;
}

.top-sellers .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.top-sellers .top h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.top-sellers .top .down-arrow {
    color: var(--lightblue);
}

.sellers-list .numbers {
    font-weight: 300;
    color: #919aa3;
    font-size: 16px;
}

.text-end {
    text-align: end;
}

.sellers-list .img {
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.sellers-list .seller-detail {
    padding: 15px 0px;
    border-bottom: 1px dashed var(--lightgrey);
}

.sellers-list .seller-detail:last-child {
    border: none;
    padding-bottom: 8px;
}

.sellers-list .seller-detail h6 {
    font-weight: 400;
    font-size: 18px;
    color: var(--darkgrey);
    margin-bottom: 5px;
}

.sellers-list .seller-detail p {
    font-weight: 500;
    font-size: 14px;
    color: var(--lightgrey);
}

.sellers-list .rating .fa-star {
    color: var(--warningColor);
    margin-right: 2px;
}

.locations {
    padding: 20px;
    background-color: var(--whiteColor);
    border-radius: 15px;
}

.locations h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--darkgrey);
    margin-bottom: 25px;
}

.locations .world-map img {
    height: 180px;
    width: auto;
}

.locations .country {
    margin-bottom: 8px;
}

.locations .country:last-child {
    margin-bottom: 0px;
}

.locations .country .flag img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.locations .country .county-name h6 {
    font-weight: 500;
    font-size: 15px;
    color: var(--lightgrey);
    margin-right: 5px;
}

.locations .country .county-name p {
    font-weight: 500;
    font-size: 15px;
    color: var(--darkgrey);
    margin-right: 5px;
}

.world-revenue {
    padding: 20px;
    background-color: var(--whiteColor);
    border-radius: 15px;
}

.world-revenue .top {
    margin-bottom: 20px;
}

.world-revenue .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.world-revenue .top h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.world-revenue .top .down-arrow {
    color: var(--lightblue);
}

.world-revenue .income,
.expenses p {
    color: var(--lightgrey);
    font-size: 14px;
}

.world-revenue .income .icon-2 {
    color: var(--purple);
}

.world-revenue .expenses .icon-2 {
    color: var(--infoColor);
}

.world-revenue .graph-4 {
    padding: 6px;
}

.recent-orders {
    margin-bottom: 25px;
    background-color: var(--whiteColor);
    border-radius: 15px;
}

.recent-orders .top {
    margin-bottom: 20px;
    padding: 15px 15px 0px 15px;
}

.recent-orders .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.recent-order-search-box .down-arrow {
    color: var(--lightblue);
}

.recent-order-search-box h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.recent-order-search-box .search {
    width: 100%;
}

table {
    border: none;
}

thead th {
    color: var(--darkgrey);
    font-size: 16px;
    font-weight: 500;
    background-color: #e7effd;
    /* border: none; */
    padding: 15px;
    text-align: left;
}

tbody td {
    text-align: left;
    padding: 20px;
    font-size: 16px;
    border-bottom: 1px dashed var(--lightgrey);
    color: var(--lightgrey);
}

.customers {
    width: 20%;
}

.customers img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.customers h6 {
    font-size: 16px;
    font-weight: 500;
    color: var(--darkgrey);
}

.created-date {
    width: 15%;
}

tbody .shipped p {
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--lightblue);
    background-color: #0f79f31a;
}

tbody .confirmed p {
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--successColor);
    background-color: #2ed47e1a;
}

tbody .pending p {
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--warningColor);
    background-color: #f1b31c1a;
}

tbody .rejected p {
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--dangerColor);
    background-color: #e74c3c1a;

}

.order-id {
    width: 12%;
}

.action {
    width: 8%;
}

.action td {
    text-align: right;
}

.action .fa-eye {
    margin-right: 15px;
    color: var(--lightblue);
}

.action .fa-trash-can {
    color: var(--lightgrey);
}

.order-list .bottom {
    padding: 15px 15px;
    color: var(--lightgrey);
}

.order-list .bottom .right .box {
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.order-list .bottom .right .box-1 {
    margin-right: 5px;
    margin-left: 8px;
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.order-list .bottom .left .sort-down {
    margin-bottom: 8px;
}

.transactions-history {
    padding: 20px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    margin-bottom: 25px;
}

.transactions-history .top {
    margin-bottom: 20px;
}

.transactions-history .top h4 {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 18px;
}

.transactions-history .top h5 {
    color: var(--darkgrey);
    font-weight: 400;
    font-size: 15px;
}

.transactions-history .top .down-arrow {
    color: var(--lightblue);
}

.detail {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px dashed #e0e0e0;
}

.detail:first-child {
    padding: 5px 0px 15px 0px;
    border-bottom: 1px dashed #e0e0e0;
}

.list-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    margin-right: 15px;
}

.refund-icon {
    fill: var(--lightblue);
    background-color: #dbeafd;
}

.bank-icon {
    color: var(--dangerColor);
    background-color: #fce4e2;
}

.card-icon {
    color: var(--purple);
    background-color: #ebe9fe;
}

.wallet-icon {
    color: var(--infoColor);
    background-color: #daf7fb;
}

.money-icon {
    font-size: 20px;
    color: var(--warningColor);
    background-color: #fff4e8;
}

.cash-icon {
    font-size: 20px;
    color: var(--successColor);
    background-color: #e0f8ea;
}

.transactions-list .list-detail .info h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--darkgrey);
    margin-bottom: 5px;
}

.transactions-list .list-detail .info p {
    font-size: 14px;
    font-weight: 500;
    color: var(--lightgrey);
}

.transactions-list .detail .profit-amount h6 {
    color: var(--successColor);
    font-size: 16px;
    font-weight: 400;
}

.transactions-list .detail .loss-amount h6 {
    color: var(--dangerColor);
    font-size: 16px;
    font-weight: 400;
}

.transactions-history .bottom {
    padding-top: 15px;
    color: var(--lightgrey);
}

.transactions-history .bottom .right .box {
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.transactions-history .bottom .right .box-1 {
    margin-right: 5px;
    margin-left: 8px;
    height: 35px;
    width: 35px;
    border: 1px solid #919aa3;
    color: var(--lightgrey);
    border-radius: 3px;
    text-align: center;
    align-content: center;
}

.transactions-history .bottom .left .sort-down {
    margin-bottom: 8px;
}

footer {
    padding: 25px;
    background-color: var(--whiteColor);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-containt p .copyright .fa-copyright {
    font-size: 12px;
    color: var(--lightgrey);
}

.footer-containt p .daxa-logo {
    font-size: 16px;
    color: var(--darkgrey);
}

.footer-containt p .daxa-text {
    font-size: 16px;
    color: var(--lightgrey);
}

.footer-containt p .link a {
    font-size: 16px;
    color: var(--lightblue);
}


/* Calendar Page */
.calendar-header {
    margin-bottom: 25px;
}

.calendar-header .calendar-title h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--darkgrey);
}
.calendar-dashboard i
{
    color: var(--lightblue);
}
.calendar-header .calendar-others h6 , i{
    font-size: 15px;
    font-weight: 400;
    color: var(--lightgrey);
}
.calendar-header .calendar-others .calendar-page h6{
    font-size: 15px;
    font-weight: 400;
    color: var(--darkgrey);
}
.mega-calendar
{
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 15px;
}
.mega-calendar .calendar-others .today-btn
{
    
}